<% content_for :header_tags do -%>
  <%= javascript_include_tag 'avatar_reloader', plugin: 'redmine_gemavatar' %>
<% end %>

<p id="avatar">
  <%= label_tag 'avatar', 'Avatar image' %>
  
  <a href="#" 
     id="avatar-reload-link" 
     data-delete-url="<%= url_for(controller: :pictures, action: :delete, user_id: @user.id) %>">
     Reload
  </a>
</p>